@font-face {
    font-family: "CustomFont";
    src: url("./resources/vertopal.com_Digital-test.ttf");
}

body, html {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    font-family: "CustomFont";
}

#wrapper {
    opacity: 0;
    transition: 300ms;
}

#sb {
    position: absolute;
    top: 0;
    left: 0;
}

#sbBg {
    position: absolute;
    top: 0;
    left: 0;
}

#sbColor {
    position: absolute;
    top: 8px;
    left: 5px;
    transition: 300ms;
    overflow: hidden;
    width: 645px;
}

#score {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 60px;
    color: white;
    letter-spacing: 2px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#acc {
    position: absolute;
    top: 65px;
    right: 12px;
    font-size: 45px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
    display: flex;
}

#combo {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 80px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    display: flex;
}
@keyframes scaleUp {
    0% {
      transform: scale(1); /* Tamaño normal */
    }
    50% {
      transform: scale(1.1); /* Tamaño aumentado en un 10% */
    }
    100% {
      transform: scale(1); /* Volver al tamaño normal */
    }
  }
#pp {
    position: absolute;
    bottom: 90px;
    left: 15px;
    font-size: 40px;
    color: white;
    font-weight:bold;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    display: flex;
}
#nowPlaying{
    position: absolute;
    top: 40px;
    left: 15px;
    font-size: 35px;
    color: white;
    max-width: 70%;
    font-weight:bold;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    display: flex;
}
#bpm {
    position: absolute;
    bottom: 50px;
    left: 0;
    font-size: 40px;
    font-weight:bold;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
    display: inline-block;
    white-space: nowrap;
}
#ur {
    position: fixed;
    bottom: 4%;
    left: 50%;
    justify-content: space-around;
    transform: translate(-50%, 50%);
    font-size: 28px;
    font-weight:bold;
    display: inline-block;
    color: white;
    gap: 5px;
}

#star {
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 28px;
    font-weight:bold;
    color: white;
}

#cs {
    position: fixed;
    bottom: 4%;
    left: 35%;
    transform: translate(-50%, 50%);
    font-size: 32px;
    font-weight:bold;
    color: white;
}

#ar {
    position: fixed;
    bottom: 4%;
    left: 65%;
    transform: translate(-50%, 50%);
    font-size: 32px;
    font-weight:bold;
    color: white;
}

#map {
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 32px;
    transition: transform 300ms ease-in-out;
    color: white;
    white-space: nowrap;
    width: 50%; /* Añade un ancho del 50% */
    overflow: hidden; /* Oculta el contenido que desborda el 50% */
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.mapdata-container {
    overflow: hidden;
    white-space: nowrap;
}

.mapdata-text {
    animation: slide 5s linear infinite; /* Cambia la duración de la animación según tu preferencia */
}

@keyframes slide {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(-100%);
    }
}

#score img {
    width: auto; /* Tamaño deseado para las imágenes */
    height: 64px;
}

#acc img {
    width: auto; /* Tamaño deseado para las imágenes */
    height: 40px;
}

#combo img {
    width: auto; /* Tamaño deseado para las imágenes */
    height: 80px;
}

#timer {
    position: absolute;
    top: 68px;
    right: 220px;
    height: 40px;
    width: 40px;
    transition: 100ms;
    background: conic-gradient(#999999 0, rgba(0, 0, 0, 0) 0);
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
    color: white;
    line-height: 28px;
    font-size: 25px;
}
#timer2{
    position: absolute;
    bottom: 180px;
    right: 10px;
    font-size: 40px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    display: flex;
    opacity: 0.90;
}
#ur, #star, #cs, #ar, #map, #bpm, #pp {
    letter-spacing: 3px;
}
#rank{
    position: absolute;
    top: 68px;
    right: 280px;
    font-size: 40px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    display: flex;
}
.rank-image {
    max-width: 45px; /* Ancho deseado */
    max-height: 45px; /* Alto deseado */
}
#mods{
    position: absolute;
    top: 150px;
    right: 30px;
    font-size: 40px;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    display: flex;
    opacity: 0.90;
}
.mod-image {
    width: 100px; /* Ancho deseado */
    height: 100px; /* Altura deseada */
}
/*
.number-line {
    position: fixed;
    bottom: 20%;
    left: 50%;
    justify-content: space-around;
    transform: translate(-50%, 50%);
    width: 25%;
    height: 5px;
    background-color: #ccc;
}

.mark {
    position: absolute;
    width: 1px;
    height: 30px; 
    background-color: #00bcd4; 
    top: -11px;
}
*/

#main {
    position: absolute;
    width: 150px;
    bottom: 15px;
    left: 645px;
    justify-content: space-around;
    transform: translate(-50%, 50%);
}

#bar {
    position: absolute;
    height: 0px;
    background-color: white;
    transition: ease-in-out 1ms;
}

#arrow{
    position: absolute;
    width: 0px;
    height: 0px;
    top: -27.5px;
    left: 140px;
    
    border-style:solid;
    border-width: 10px;
    border-color: white transparent transparent transparent;
    
    transition: ease-out 1ms;
    transform-origin: 50% 50%;
}

#center {
    position: absolute;
    top:-11px;
    left: 147.5px;
    width: 5px;
    height: 25px;
    background-color: red;
    transition: ease-out 1ms;
}

#tick0,
#tick1,
#tick2,
#tick3,
#tick4,
#tick5,
#tick6,
#tick7,
#tick8,
#tick9,
#tick10,
#tick11,
#tick12,
#tick13,
#tick14,
#tick15,
#tick16,
#tick17,
#tick18,
#tick19,
#tick20,
#tick21,
#tick22,
#tick23,
#tick24,
#tick25,
#tick26,
#tick27,
#tick28,
#tick29
{position: absolute; top: -9px;height: 20px;width: 3px;background-color: white;left: 147.5px;}
#h300g,
#h300{position: absolute;top: 20px;font-family: TOMMY;font-weight: bold;font-size:15pt;color: #eaeaea;text-shadow: -1px 1px 2px #000, 1px 1px 2px #000;}
#h300g{right: 60%;right: 214px;}
#h300{left: 59%;right: 100px;}
#early{
    position: absolute;
    top: -13px;
    left: 40px;
    font-size: 18px;
    font-weight: bold;
    
    color: #B3D7FF;
    transition: ease-out 1ms;
}
#late{
    position: absolute;
    top: -13px;
    right: 40px;
    font-size: 18px;
    font-weight: bold;
    
    color: #FFB3B3;
    transition: ease-out 1ms;
}

#bgwparrer {
    position: absolute;
    height: 100%;
    width: 100%;
}

#bg {
    max-height: 100%;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar correctamente */
    z-index: -1;
    transition: ease;
    filter: saturate(150%) blur(3px); /* Ajusta los valores según tus necesidades */
}
