@font-face {
    font-family: "CustomFont";
    src: url("./resources/Cabin-Bold.ttf");
}

body,html{
    margin:0;
    padding:0;
    width: 1920px;
    height: 1080px;
    font-family: "CustomFont";
}

#wrapper{
    opacity: 0;
    transition: 300ms;
}
#sb{
    position: absolute;
    top: 0;
    left: 0;
}
#sbBg{
    position: absolute;
    top: 0;
    left: 0;
}
#sbColor{
    position: absolute;
    top: 8px;
    left: 5px;
    transition: 300ms;
    overflow: hidden;
    width: 645px;
}
#score{
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 10px;
    color: white;
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
#acc{
    position: absolute;
    top: 68px;
    right: 12px;
    color: white;
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    display: flex;
}
#combo{
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: white;
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    display: flex;
}
#pp{
    position: absolute;
    bottom: 90px;
    left: 15px;
    font-size: 40px;
    color: white;
    text-shadow: 
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    display: flex;
}
#ur {
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 24px;
    transition: 300ms ease-in-out;
    color: white;
}

#score img {
    width: auto; /* Tamaño deseado para las imágenes */
    height: 64px;
}
#acc img {
    width: auto; /* Tamaño deseado para las imágenes */
    height: 40px;
}
#combo img {
    width: auto; /* Tamaño deseado para las imágenes */
    height: 80px;
}
#timer {
    position: absolute;
    top: 68px;
    right: 16%;
    height: 40px;
    width: 40px;
    transition: 100ms;
    background: conic-gradient(#999999 0, rgba(0,0,0,0) 0);
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.5);
    color: white;
    line-height: 28px;
    font-size: 25px;
}